$primary-color: rgb(105, 105, 105);
$border-radius: 20px;

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 136px;
    font-weight: 500;
    padding-bottom: 40px;
  }

  .country {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    padding: 4px 8px;

    img {
      width: 30px;
      height: 20px;
      border: 1px solid black;
    }
  }

  .main-poto {
    margin-top: 80px;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .texts {
      margin-left: 4.5%;
      margin-top: 450px;
      color: #fff;

      h2 {
        font-size: 60px;
      }

      p {
        font-size: 24px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 100px;
    }

    .main-poto {
      height: 500px;

      .texts {
        margin-top: 300px;

        h2 {
          font-size: 40px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 80px;
    }

    .main-poto {
      height: 400px;

      .texts {
        margin-top: 200px;

        h2 {
          font-size: 30px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 60px;
    }

    .main-poto {
      height: 300px;

      .texts {
        margin-top: 150px;

        h2 {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
