$form-bg-color: #f9f9f9;
$form-border-color: #ddd;
$primary-color: #3498db;
$error-color: #e74c3c;

.login {
  border-top: 1px solid $form-border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .cover {
    
    height: 100vh;
    object-fit: cover; 
    width: 80%; 
    margin-bottom: 20px;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;

    padding: 30px;

    div{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    img {
      width: 200px;
      margin-bottom: 20px;
    }

    label {
        align-self: flex-start;
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid $form-border-color;
      border-radius: 4px;
      font-size: 1rem;
      transition: border-color 0.3s;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    .error-message {
      color: $error-color;
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }

    button {
      width: 50%;
      max-width: 500px;
      padding: 0.75rem;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 20px;

      &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid black;
      }
    }
  }

  @media (max-width: 768px) {
    .cover {
      display: none; 
    }

    form {
      padding: 30px;
    }
  }
  @media (max-width: 1240px) {
    .cover {
      width: 50%;
    }


  }
}
