.carousel-item {
    
    padding: 20px;
    text-align: center;
    cursor: pointer;
    h3{
        font-size: 32px;
        padding: 5px 0;
    }
    p{
        font-size: 18px;
        padding: 10px;
    }
    
}
.slider{
    width: 100%;
    padding: 10px 50px;
    margin-bottom: 40px;
    h2{
        margin-top: 50px;
        font-size: 42px;
    }
}

.carousel-image {
    width: 100%;
    height: 300px;
    object-fit: cover; 
    margin-bottom: 10px;
}

.carousel-buttons {
    margin-top: 10px;

    button {
        margin: 5px;
        padding: 10px 20px;
        border: 1px solid #000;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        font-size: 14px;
        border-radius:15px ;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}

.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;

    &::before {
        font-size: 40px;
        color: #000;
    }
}

.slick-dots {
    bottom: -30px;

    li button:before {
        font-size: 12px;
        color: #000;
    }

    li.slick-active button:before {
        color: #444;
    }
}

.slick-slide {
    padding: 0 10px;
}
.slick-list {
    margin: 0 -10px;
}
